body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0066cc;
      background-image: url('background-wallpaper-for-websites-fallback.jpg') ;
    /* Tryed get the image from the web with color backup but it didn't work. Of coures, whould rather not having the jpg on client */
}

.body-content { 
    font-size: 17px;
    color: papayawhip;
    
    /* Set padding to keep content from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer
{
    font-size: 12px;
    text-align: left;
    margin-top: 20px;
}

#WordClassesData
{
     font-size:16px; 
     text-align-last: left;
}

